<% admin = try_spree_current_user.try(:has_spree_role?, "admin") %>
<header class="header <%= admin ? "logged-in" : "logged-out" %>">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="row">
                <div class="navbar-header col-sm-3 col-md-2">
                    <h3 id="logo" class: "logo navbar-brand">Boogie</h3>
                    <% if admin %>
                        <span class="navbar-toggle" id="sidebar-toggle">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </span>
                    <% end %>
                </div>
                <% if admin %>
                    <div class="col-sm-9 col-md-10">
                        <div class="navbar-right" data-hook="admin_login_navigation_bar"></div>
                    </div>
                <% end %>
            </div>
        </div>
    </nav>
</header>
